@using FoodDelivery.Domain.Enumerations
@model FoodDelivery.Domain.Identity.FoodDeliveryAppUser
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FoodDeliveryApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FoodDeliveryApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav m1-auto flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Restaurants" asp-action="Index">Wishlist</a>
                            <div id="mywishlist" class="collapse header">
                                <div class="bg-white rounded border shadow-sm mb-4 p-4">
                                    <div id="wishlist_empty" style="display: block;">
                                        <h6>Wishlist is currently empty!</h6>
                                    </div>
                                    <div id="wishlist_full" style="display: none;">
                                        <div>
                                            <h5 class="mb-1">Your order</h5>
                                            <p class="mb-4" id="wishlist_total_items">0 Items</p>
                                            <div class="bg-white rounded shadow-sm mb-2" id="wishlist_design">
                                                <p>Wishlist is empty</p>
                                            </div>
                                            <div class="pt-3 pr-1 pb-3 p-1 border-bottom" id="smart_delivery"></div>
                                            <div>0</div>
                                        </div>
                                        <div>
                                            <div class="mb-2 bg-white rounded p-2 clearfix">
                                                <h6 class="font-weight-bold text-right mb-2" id="wishlist_final_items">0</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="Index">
                                <span class="d-none d-sm-inline">My Profile</span>
                            </a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - FoodDeliveryApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
